<h5>Samples</h5>
<ul class="nav nav-list">
	<li><a href="javascript:void(0);" data-bind="click:gotoSample" data-id="1">Hello World</a></li>
	<li><a href="javascript:void(0);" data-bind="click:gotoSample" data-id="2">Click counter</a></li>
	<li><a href="javascript:void(0);" data-bind="click:gotoSample" data-id="3">Simple list</a></li>
	<li><a href="javascript:void(0);" data-bind="click:gotoSample" data-id="4">Better list</a></li>
	<li><a href="javascript:void(0);" data-bind="click:gotoSample" data-id="5">Control types</a></li>
	<li><a href="javascript:void(0);" data-bind="click:gotoSample" data-id="6">Working with Collections</a></li>
	<li><a href="javascript:void(0);" data-bind="click:gotoSample" data-id="7">Animated transitions example</a></li>
	<li><a href="javascript:void(0);" data-bind="click:gotoSample" data-id="8">Template example</a></li>
</ul>	
